li{
    font-size: larger;
    
}
li:hover{
    background-color: rgb(1, 88, 69);
    transition-duration: 500ms;
}

ul li a[href]{
    font-weight: bolder;
    font-style: italic;
}
.navbar-brand{
    font-weight: 900;
    font-size: xx-large;
}