
:root{
    background: linear-gradient(to right, #0cebeb, #20e3b2, #29ffc6);
}

body{
    font-family: 'Ubuntu', sans-serif !important ; 
}

.text-white{
    display: inline-block;
    font-size: 70px;
    background: linear-gradient(to right, #0cebeb, #20e3b2, #29ffc6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

li{
    font-size: large;
    
}
li:hover{
    background-color: #9b9b9bc1;
    transition-duration: 500ms;
}

ul li a[href]{
    font-weight: bolder;
    font-style: italic;
}
.navbar-brand{
    font-weight: 900;
    font-size: xx-large;
}

li .dropdown-item:hover{
    background-color: #dc143cc1;
}

.bg-colorful{
   
    background: linear-gradient(to right, #0cebeb, #20e3b2, #29ffc6);
}

.py-6{
    padding: 150px 0px;
}

#btn-1{
    border-radius: 75px;
}

.my-10{
    margin: 250px 0px;
}

footer{
    padding: 50px 0px;
}

.bg-night{
    background-color: #000000;
}
.text-not-dark{
    color: white;
}
.pb-10{
    padding-top: 100px;
    padding-bottom: 200px;
}
.text-big{
    font-size: x-large;
    font-weight: bolder;
}